button,
.btn,
.button,
a.button,
a.btn,
input[type="submit"] {
	-webkit-appearance: none;
	background-color: var(--c-accent);
	border: none;
	border-radius: var(--border-radius);
	color: var(--c-white);
	display: inline-block;
	line-height: 1.5;
	padding: 1em 2em;
	text-decoration: none;
	transition: 150ms ease-in-out;
	vertical-align: bottom;

	& *,
	& a {
		color: var(--c-white);
	}

	&:hover {
		background-color: var(--c-accent);
		filter: brightness(95%);
	}
}


.back-to-archive {
	margin-top: 2rem;
}
