.menu-toggle {
	background: transparent;
	color: transparent;
	margin: 0;
	padding: 0;

	&:hover {
		background: transparent;
		cursor: pointer;
	}

	&::before {
		color: var(--c-black);
		font-family: var(--ff-dashicons);
		font-size: 2em;
	}

	&[aria-expanded="false"]::before {
		content: "\f333";
	}

	&[aria-expanded="true"]::before {
		content: "\f335";
	}

	@media (--bp-medium) {
		display: none;
	}
}
