.menu,
.sub-menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu {
	background: var(--c-eggshell);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.18);
	display: none;
	left: 0;
	padding: 1em;
	position: absolute;
	top: 100%;
	width: 100%;

	@media (--bp-medium) {
		background: unset;
		box-shadow: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding: 0;
		position: relative;
	}
}

.menu-toggle[aria-expanded="true"] + .menu {
	display: flex;
}

.sub-menu {
	display: none;
	margin-left: 1em;
	margin-right: 1em;

	@media (--bp-medium) {
		border-radius: var(--border-radius);
		box-shadow: 0 3px 2px rgba(0, 0, 0, 0.18);
		left: 50%;
		margin-left: 0;
		margin-right: 0;
		min-width: 150px;
		position: absolute;
		transform: translateX(-50%);
		z-index: 10;

		&::before {
			border-color: transparent transparent var(--c-eggshell) transparent;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			content: "";
			height: 0;
			left: 50%;
			position: absolute;
			top: -10px;
			transform: translateX(-50%);
			width: 0;
		}
	}

}

.menu-item-has-children {
	position: relative;

	&:hover,
	&:focus,
	&:focus-within {

		& > .sub-menu {
			display: block;
		}
	}
}
