body.blog .site-content > .post {
	background-color: var(--c-eggshell);
	display: flex;
	flex-direction: column;

	@media (--bp-medium) {
		flex-direction: row-reverse;
	}
	margin-top: 2rem;

	&:first-of-type {
		margin-top: 0;
	}

	position: relative;

	& .icon {
		background: var(--news);
		fill: var(--c-white);
		height: 25px;
		padding: 15px;
		position: absolute;
		right: 0;
		top: 0;
		width: 25px;

		& > * {
			transform: rotate(30deg);
			transform-origin: 50% 50%;
		}
	}


	& .post-thumbnail {
		width: 100%;

		@media (--bp-medium) {
			width: 45%;
		}

		& img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	& .post-content {
		box-sizing: border-box;
		padding: 30px;
		width: 100%;

		@media (--bp-medium) {
			width: 55%;
		}

		&:only-child {
			width: 100%;
		}

		& .post-title {
			margin-top: 0;
		}

		& .button {
			display: inline-block;
			margin-top: 1em;
		}
	}

	& .post-meta {
		font-size: 0.8em;
		margin-top: -10px;

		& .date {
			font-weight: var(--fw-bold);
		}

		&.author {
			font-weight: var(--fw-normal);
		}
	}
}

body.blog .site-content .post.format-aside {

	&::before,
	&::after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.698' height='29.698' viewBox='0 0 29.698 29.698'%3E%3Crect id='Rechteck_49' data-name='Rechteck 49' width='21' height='21' transform='translate(0 14.849) rotate(-45)' fill='%23fff'/%3E%3C/svg%3E%0A");
		background-repeat: repeat-x;
		background-size: 20px;
		content: "";
		display: block;
		height: 10px;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 10;
	}

	&::before {
		background-position: bottom;
		top: 0;
	}

	&::after {
		background-position: top;
		bottom: 0;
	}

	background-color: var(--c-light-news);
}

