.site-content {

	& > * {
		margin: 1em auto;
		max-width: var(--w-standard);

		&:first-child {
			margin-top: 5rem;
		}

		&:last-child {
			margin-bottom: 5rem;
		}
	}

	& > .alignwide {
		margin: 2em auto;
		max-width: var(--w-extended);
	}

	& > .alignfull {
		margin: 3em auto;
		max-width: var(--w-full);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		& + .alignfull {
			margin-top: -3em;
		}
	}
}
