.site-content {

	& > * {
		margin: var(--s-normal) auto;
		max-width: var(--w-standard);

		&:first-child {
			margin-top: var(--s-xxxlarge);
		}

		&:last-child {
			margin-bottom: var(--s-xxxlarge);
		}
	}

	& > .alignwide {
		margin: var(--s-large) auto;
		max-width: var(--w-extended);
	}

	& > .alignfull {
		margin: var(--s-xxlarge) auto;
		max-width: var(--w-full);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		& + .alignfull {
			margin-top: -var(--s-xxlarge);
		}
	}
}
