.site-footer {
	background: var(--c-eggshell);

	& .container {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--w-wide);
	}
}

.site-footer-middle {

	& .widget-area {
		display: flex;
		flex-direction: column;
		max-width: var(--w-standard);
		padding: 2rem 0;

		@media (--bp-medium) {
			flex-direction: row;
			justify-content: space-between;
		}

		& .widget-column {

			@media (--bp-medium) {
				width: 50%;
			}

			& .widget {
				margin: 1rem;
			}
		}
	}
}

.site-footer-bottom {
	background: var(--c-light-grey);
	color: var(--c-dark-grey);
	padding: 1rem 0;

	& nav {
		margin-top: 1rem;

		@media (--bp-medium) {
			margin-top: 0;
		}
	}

	& .menu-item > a {
		color: var(--c-dark-grey);
		padding: 0.5em;
		padding-left: 0;

		@media (--bp-medium) {
			padding-left: 0.5em;
		}
	}

	& > .container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		@media (--bp-medium) {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
