<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"5rem"}}}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:5rem"><!-- wp:post-featured-image {"width":"100%","height":"25rem"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","level":1,"textColor":"allgemein"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->