@import url("https://use.typekit.net/yrd4qvx.css");

/*
 * Fonts
 */
:root {
	--ff-main: "myriad-pro", sans-serif;
	--ff-condensed: "myriad-pro-condensed", sans-serif;
	--ff-dashicons: dashicons;

	--fw-light: 300;
	--fw-medium: 500;
	--fw-bold: 700;

	--f-family-heading: "myriad-pro-condensed", sans-serif;
	--f-weight-heading: normal;

	--f-color: lighten(#444, 10%);
	--f-color-heading: var(--c-accent);
	--f-color-button: var(--c-white);
	--f-color-link: var(--c-accent);
	--f-color-link-hover: var(--c-accent);

	--f-decoration-link-hover: underline;

	--f-weight-menu-item: 400;
	--f-weight-menu-item-active: 500;

	--fs-small: 0.75em;
	--fs-regular: 1em;
	--fs-medium: 1.5em;
	--fs-large: 1.75em;
	--fs-xlarge: 2em;

	font-family: var(--ff-main);
}

h1 {
	font-size: var(--fs-xlarge);
}

h2 {
	font-size: var(--fs-large);
}

h3 {
	font-size: var(--fs-medium);
}

h4 {
	font-size: var(--fs-medium);
}

h5 {
	font-size: var(--fs-medium);
}

h6 {
	font-size: var(--fs-medium);
}

.site-content,
.editor-styles-wrapper,
.editor-post-title__block,
.site-footer {

	& * {
		font-family: var(--ff-main);
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: var(--c-accent);
		font-family: var(--ff-condensed);
		font-weight: var(--fw-medium);
		margin-bottom: 1em;
		margin-top: 2em;

		& a {
			color: var(--c-accent);
			font-family: var(--ff-condensed);
			font-weight: var(--fw-medium);
			margin-bottom: 1em;
			text-decoration: none;
		}

		&:first-child {
			margin-top: 0;
		}

		& + p {
			margin-top: 0;
		}
	}

	& p,
	& a,
	& ul {
		line-height: 1.5;
	}

	& p {
		color: var(--c-dark-grey);

		& + p {
			margin-top: 0;
		}
	}

	& a {
		color: var(--c-accent);
	}
}


.editor-post-title__block .editor-post-title__input {
	color: var(--c-accent);
	font-family: var(--ff-condensed);
	font-weight: var(--fw-medium);
	text-align: center;
}
